$menu-background-1: rgb(28, 28, 32);
$menu-background-2: rgb(40, 40, 48);
$menu-accent-1: rgb(64, 64, 64);
$menu-accent-2: rgb(96, 96, 96);
$menu-accent-3: rgb(128, 128, 128);

.container {
  background-color: rgb(232, 232, 232);
}

.main {
  background-color: $menu-background-1;
  color: white;
}

.active {
  background-color: $menu-accent-1;
}

.secondary {
  background-color: $menu-background-2;
  color: white;
}

.sidebar a {
  color: inherit;
}

.sidebar a:hover {
  background-color: $menu-accent-3;
}

.sidebar .search {
  background-color: $menu-accent-2;
}

.sidebar input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  border-bottom: 1px #ffffff;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.colored {
  background-color: #444;
  color: #ffffff;
}
