/** General **/
html {
  font-family: sans-serif;
}

/** Sidebar **/
.sidebar .element {
    font-weight: 600;
}

.sidebar .element,
.sidebar input {
  font-size: 1.4rem;
}

.sidebar a {
  text-decoration: none;
}

/** Content **/
.no-selection {
  font-family: sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.card {
  text-align: center;
}

h3, h2 {
  text-transform: capitalize;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.card thead {
  font-weight: bold;
}

.mono {
  font-family: monospace;
}

td.no-data {
  text-align: center;
}

td.permission {
  text-align: left;
}
