$sidebar-width: 10rem;
$sidebar-padding: 0.5rem;
$secondary-top-padding: 1rem;

/** General **/
html, body, router-view {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/** Sidebar **/
.sidebar {
  height: 100%;
  width: $sidebar-width;
  float: left;
  position: fixed;
}

.sidebar.secondary {
  padding-top: $secondary-top-padding;
  height: calc(100% - #{$secondary-top-padding});
}

.sidebar .element {
  padding: $sidebar-padding;
}

.sidebar img {
  width: 100%;
}

.sidebar a {
  display: block;
  margin: -$sidebar-padding;
  padding: $sidebar-padding 3*$sidebar-padding;
}

.sidebar input {
  width: 100%;
}

.sidebar .element.search {
  padding: $sidebar-padding 3*$sidebar-padding;
}

/** Content **/
section.container {
  margin-left: $sidebar-width;
}

.container {
  min-height: 100%;
  height: auto;
  box-sizing: border-box;
  width: calc(100% - #{$sidebar-width});
}

.container.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container.cards {
  padding: 1rem;

  // Moves the header to the center
  text-align: center;
}

header.card {
  display: inline-block;

  padding-left: 2rem;
  padding-right: 2rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.card h3, .card h2 {
  padding: 0;
  padding-bottom: 0.5rem;
  margin: 0;
}

.card p {
  padding: 0;
  margin: 0;
}

.card {
  margin: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}

.card img {
  height: 4rem;
}

.card .left {
  float: left;
  margin-right: 0.5rem;
}

.card .right {
  float: right;
}

.card.medium {
  min-width: 16rem;
  flex-grow: 1;
}

.card.big {
  min-width: 32rem;
  flex-grow: 2;
  padding-left: 4rem;
  padding-right: 4rem;
}

.card table {
  width: 100%;
}
