notification-holder {
  display: block;

  position: fixed;
  right: 0;
  bottom: 0;

  max-width: 15rem;
}

notification {
  display: block;
  padding: 0.7rem;
  margin: 1rem;
  box-sizing: border-box;
  background-color: gray;
  border-radius: 0.1rem;
}

notification > p {
  margin: 0;
}
