<template>
  <nav class="sidebar categories secondary" role="navigation">
    <div class="element search">
      <input type="search" placeholder="Search" input.delegate="searchFor($event.target.value)"/>
    </div>
    <template repeat.for="group of groups_view">
      <div class="element">
        <a href="#">
          ${group.name}
        </a>
      </div>
    </template>
  </nav>

  <section class="container">
    <div class="centercontainer">
      <div class="centerchild no-selection">
        Groups
      </div>
    </div>
  </section>
</template>
