<template>
  <require from="../resources/elements/searchable-navigation.html"></require>
  <searchable-navigation displayer.bind="display" search.call="search($event)" view.bind="view" route="group"></searchable-navigation>

  <section class="container">
    <div class="flexcontainer">
      <div class="flexchild card">
        <h3>Name</h3>
        <span>${group.name}</span>
      </div>
      <div class="flexchild card">
        <h3>Ladder</h3>
        <span>${group.ladder}</span>
      </div>
      <div class="flexchild card">
        <h3>Rank</h3>
        <span>${group.rank}</span>
      </div>
    </div>
  </section>
</template>
