<template>
  <require from="../resources/elements/searchable-navigation.html"></require>

  <searchable-navigation displayer.bind="display"
                         search.call="search($event)"
                         view.bind="view"
                         route="player">
  </searchable-navigation>

  <section class="container cards">
    <header class="card">
      <img src="https://minotar.net/avatar/${player.name}/100" class="left"
           title="${player.uuid}" alt="${player.uuid}">
      <div class="right">
        <h2>${player.name}</h2>
        <p>
          Prefix '<span class="bold">${player.prefix}</span>' | Suffix
          '<span  class="bold">${player.suffix}</span>'
        </p>
      </div>
    </header>
    <div class="flex">
        
    </div>
  </section>
</template>
